@page "/import"
@using Credo.Models
@using System.Text.Json
@using System.Globalization
@using CsvHelper
@using CsvHelper.Configuration


<h3>IMPORTS VIEW</h3>
<div class="d-flex flex-column gap-1" style="width:100px;">
    <button class="btn btn-sm @(b1 ? "btn-danger" : "btn-primary")" @onclick="ImportTicker" title="Imports Tickers from Ticker.csv">Tickers</button>
    <button class="btn btn-sm @(b2 ? "btn-danger" : "btn-primary")" @onclick="ImportCurrencies">Currencies</button>
    <button class="btn btn-sm @(b3 ? "btn-danger" : "btn-primary")" @onclick="ImportTransactions">Transactions</button>
    <button class="btn btn-sm @(b4 ? "btn-danger" : "btn-primary")" @onclick="ImportSecurities">Securities</button>
    <button class="btn btn-sm @(b5 ? "btn-danger" : "btn-primary")" @onclick="ImportPortfolio">Portfolio</button>
</div>




<div class="mt-4">
    @if (results.Success)
    {
        <h4>@Title</h4>
        <p>Imported: @results.Records records</p>
    }
    @if (results.Errors.Any())
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var err in results.Errors)
                {
                    <li>@err</li>
                }
            </ul>
        </div>
    }
        
    @if (results.Warnings.Any())
    {
        <div class="alert alert-warning">
            <ul>
                @foreach (var w in results.Warnings)
                {
                    <li>@w</li>
                }
            </ul>
        </div>
    }
</div>


